<nav class="menu">
    <ul>
        <li><a onclick="fnShowHumanFace()">Animation</a>
            <li><a>Text Formatting</a>
                <ul class="sub-menu">
                    <li><a onclick="fnShowBlurredText()">Blurred Text</a></li>
                    <li><a onclick="fnShowFirstLetter()">FirstLetter &amp; FirstLine</a></li>
                    <li><a onclick="fnShowPragraph()">Formatting Paragraph</a></li>
                    <li><a onclick="fnShowTextInColumn()">Text in columns</a></li>
                </ul>
            </li>
            <li><a>Image Formatting</a>
                <ul class="sub-menu">
                    <li><a onclick="fnShowHoveringImage()">Hovring Image</a></li>
                    <li><a onclick="fnShowBorderImage()">Border Image</a></li>
                </ul>
            </li>
            <li><a>Creating shapes</a>
                <ul class="sub-menu">
                    <li><a onclick="fnShowHoverBox()">Hover Box</a></li>
                    <li><a onclick="fnShowShape()"> Shape using Shadow</a></li>
                </ul>
            </li>
            <li><a>Other Element</a>
                <ul class="sub-menu">
                    <li><a onclick="fnShowEmpty()">Non Empty Element</a></li>
                    <li><a onclick="fnShowButton()">Button-Shadow</a></li>
                    <li><a onclick="fnShowDiv()">Maintaining height &amp; width of div</a></li>
                    <li><a onclick="fnShowOrderList()">Nested OrderList</a></li>
                </ul>
            </li>
            <li><a onclick="fnShowAboutus()">About</a></li>
    </ul>
</nav>
