<div id="face">
    <div class="first div-prop"> <span id="k1" class="span-prop">Right Eye</span>
        <div id="reye">
            <div id="r1">
            </div>
        </div>
    </div>
    <div class="first div-prop"><span id="k2" class="span-prop">Left Eye</span>
        <div id="leye">
            <div id="l1"></div>
        </div>
    </div>
    <div class="first div-prop"><span id="k3" class="span-prop">Nose</span>
        <div id="n1"></div>
        <div id="n2"></div>
    </div>
    <div class="first div-prop"><span id="k4" class="span-prop">Lips</span>
        <svg height="200" width="300">
            <path id="p1" d="M 40 80 Q 140 200 260 80" stroke="blue" stroke-width="2" fill="none" />
        </svg>
    </div>
</div>
