<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="../Images/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../css/main-css.css">
    <link rel="stylesheet" type="text/css" href="../css/media.css">
</head>

<body onload="fnDoLoad()">
    <header>
        <nav class="nav1">
            <h4 class="h4">Welcome</h4></nav>
    </header>
    <script type="text/javascript" src="..\js\hello.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\indexServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\menuServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\blurredtextServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\borderimageServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\hoverboxServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\humanfaceServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\hoveringimageServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\buttonServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\nonemptyServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\firstletterServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\formatting-pServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\maintain-hwServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\orderlistServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\shapeServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\textcolumnServiceManager.js"></script>
    <script type="text/javascript" src="..\js\ServiceManager\aboutusServiceManager.js"></script>
    <div class="menu-div" id="menuID"></div>
    <div id="animateID" class="hai"></div>
    <div class="right">
        <h2>LearnMore at:</h2>
        <marquee direction="up">
            <a href="http://www.w3schools.com/" target="_blank"><img src="..\Images\html.png" alt="HTML Tutorial"></a>
            <br>
            <a href="http://www.w3schools.com/css/" target="_blank"><img src="..\Images\css.png" alt="CSS Tutorial"></a>
            <br>
            <a href="http://www.w3schools.com/js/" target="_blank"><img src="..\Images\js.png" alt="JavaScript Tutorial"></a>
        </marquee>
    </div>
    <footer class="foot">
        <nav>
            <ul class="contact">
                <li>Mounika Kothuppari</li>
                <li>mkothuppari@innominds.com</li>
            </ul>
        </nav>
        <nav>
            <ul class="buttons">
                <li>
                    <a href="https://www.twitter.com/" target="_blank"> <img src="..\Images\twit.png" alt="twitter" title="Twitter"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../Images/fb.png" alt="facebook" title="Facebook"></a>
                </li>
                <li>
                    <a href="https://plus.google.com/" target="_blank"><img src="../Images/plus.png" alt="google+" title="Google+"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../Images/inst.png" alt="instagram" title="Instagram"></a>
                </li>
                <li>
                    <h4>Follow us:</h4></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
